@media only screen and (max-width: 1199px){
    h1{font-size: 56px !important;}
    .search_box .text_field{width: 100%}
    .search_btn{right: 15px}
    label{right: 35px}
    .domain_bottom_info li{margin: 0 50px}
    .testimonial_content{margin-left: 15px}
    .testimonial_content p{padding: 0 40px}
    .rating_star{margin-left: 205px}
    .client_img figure{margin-left: 210px}
    .carousel-indicators{left: -215px}
    .banner_search_box .text_field{width: 79%; padding: 0 20px}
    .welcome_section_heading{padding-left: 25px}
    .bg_img{right: 0; margin: 0; left: 25px}
    .bold_text br, .normal_text br {display: none}
    .hosting_guarantee_section:before{top: -79px}
    .client_img{margin-left: 0}
    .banner_inner_content{padding-top: 170px; padding-bottom: 100px}
    .padding_left_60{padding-left: 35px}
    .carousel-indicators01{left: 0}
    .padding_top_150{padding-top: 100px}
    .shared_hosting_plan_list li:before{display: none}
    .shared_hosting_plan_box{padding: 60px 5px}
    .banner_inner_content p br{display: none}
    .btn_order{padding: 5px 9px}
    .list_detail li{font-size: 14px}

}
@media only screen and (max-width: 991px) {
    h1{font-size: 48px !important;}
    h4{font-size: 24px !important;}
    h2{font-size: 22px !important;}
    .banner_search_box .text_field{width: 76%}
    .dropdown-toggle:after{display: none}
    .navbar-toggler{background-color: #3fd7d7; border: 1px solid #3fd7d7}
    .navbar-toggler:focus{outline: none}
    .navigation{background-color: #080245}
    .btn_login{display: none}
    .dropdown .megamenu{float: left; width: 100%; background-color: #fff}
    .navbar .navbar-nav{padding: 0}
    .domain_bottom_info li{margin: 0 40px}
    .hosting_plan_box p br{display: none}
    .hosting_plan_price .dollar_sign{font-size: 36px}
    .hosting_plan_price .amount{font-size: 64px}
    .btn_hosting_plan{font-size: 16px; padding: 10px 25px}
    .welcome_section_heading{padding-left: 15px}
    .welcome_section_heading h5 br{display: none}
    .hosting_guarantee_section p br{display: none}
    .guarantee_box{padding-bottom: 20px}
    .testimonial_content p br{display: none}
    .testimonial_content figure {display: none}
    .rating_star, .client_img {margin-left: 55px}
    .client_img figure{margin-left: 0}
    .customer_img figure{width: 150px}
    .padding_top_100{padding-top: 75px}
    .padding_bottom_100{padding-bottom: 75px}
    .build_your_site{padding: 30px 25px}
    .btn_get_started{padding: 10px 15px}
    .bg_guarantee{background-position: right}
    .hosting_guarantee_section:before{display: none}
    .padding_bottom_180{padding-bottom: 75px}
    .bg_guarantee{padding-top: 75px}
    .sub_banner_inner_content{padding-top: 150px; padding-bottom: 100px}
    .shared_hosting_plan_list{margin-bottom: 20px}
    .padding_left_60{padding-left: 17px}
    .carousel-indicators01 li{margin: 0 5px}
    .price_content .value_text{padding-left: 0 !important;}

}
@media only screen and (max-width: 767px){
    h1{font-size: 42px !important;}
    h3{font-size: 30px !important;}
    br{display: none}
    .banner_inner_content{padding-top: 150px}
    .banner_inner_content p{font-size: 14px}
    .banner_search_box .search_btn{right: 15px}
    .banner_search_box label{right: 33px}
    .domain_bottom_info li{margin: 0 12px}
    .banner_search_box .text_field{width: 100%}
    .search_domain{padding-bottom: 50px}
    .hosting_plan_box{margin-bottom: 30px}
    .bg_img{display: none}
    .padding_bottom_180{padding-bottom: 130px}
    .hosting_guarantee_section:before{top: -60px; height: 60px}
    .footer_box{display: none}
    .build_your_site{display: none}
    .padding_top_80{padding-top: 0}
    .padding_top_50{padding-top: 0}
    .carousel-indicators01 li{margin: 0 5px}
    .welcome_arrow{display: none}
    .padding_lr_95{padding: 0}
    .sliderbox{padding: 0 !important;}
    .price_rangetxt{margin: 0 !important;}
    .price_content .smallbox{height: auto !important; width: 30% !important; padding: 10px 0 !important;}
    .price_content{padding: 0 5px !important;}
    .vps_btn{margin-left: 0 !important;}
    .price_txt{padding: 30px 0 20px !important; display:grid}

}
@media only screen and (max-width: 480px){
    h1{font-size: 36px !important;}
    .banner_inner_content{padding-top: 100px}
    .shared_hosting_banner, .vps_hosting_banner, .domain_banner, .dedicated_hosting_banner, .reseller_hosting_banner{background-position: left}
    .shared_hosting_plan_list{text-align: center}
    .primary_box{margin-bottom: 20px}
    .left_handle, .right_handle {display: none}
    .carousel-indicators01{margin: 0}
    .carousel_top_indicator:before{display: none}
    .welcome_arrow{display: none}
    .list_heading{display: none}
    .list_detail li:nth-child(4), .list_detail li:nth-child(5), .list_detail li:nth-child(6){display: none}
    .list_detail li{width: 24%}
    .list_detail li:last-child{width: 23%}
    .list_detail li{font-size: 12px}
    .btn_order{font-size: 12px}
    .navigation ul li a{padding: 15px 15px !important;}
    .navbar-toggler{padding: 2px 5px}
    .domain_bottom_info{display: none}
    .btn_banner_01{margin-bottom: 25px}
    .page_banner{background-position: left}
    .padding_bottom_100{padding-bottom: 50px}
    .padding_top_100{padding-top: 50px}
    .bold_text{font-size: 18px}
    .hosting_guarantee_section h3{font-size:24px !important;}
    .hosting_guarantee_section p{font-size: 14px}
    .top_heading .text_value{font-size: 12px !important;}
    .bg_slider{padding: 15px 0 0 !important;}
    .price_txt{padding: 0 0 20px !important; display:grid}
    .price_txt .numeric1{font-size: 42px !important;}
    .sub_banner_inner_content .banner_list li{padding-left: 0}
    .sub_banner_inner_content .banner_list li:before{display: none}
    .sub_banner_inner_content .banner_list li{font-size: 14px}

}